{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Check email
{% endblock %}
{% block body %}
	{{form_start(form)}}
	{{form_row(form)}}
	<button type="submit">envoyer</button>
	{{form_end(form)}}
{%  endblock %}
