{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Change Password
{% endblock %}
{% block body %}

	{{ form_row(form) }}
	<button class="bg-black text-white text-sm w-80 pt-2 pb-2 mb-3" type="submit">Changer</button>
{%  endblock %}
