{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Check email
{% endblock %}
{% block body %}
	<div class="flex flex-col justify-center items-center max-w-lg">
		<img src="/images/logo.svg" class="w-24 md:h-auto mb-8" alt="logo"/>
		<h1 class="text-2xl uppercase font-bold text-center max-w-md mb-8">Mot de passe oublié ?</h1>
		<p class="text-md text-center text-gray-500 max-w-md mb-6">Saisissez votre adresse e-mail pour recevoir les instructions expliquant comment réinitialiser votre mot de passe.</p>
		<form class="flex flex-col content-center justify-center items-center" method="post"></form>
	</div>
{%  endblock %}
