{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Check email
{% endblock %}
{% block body %}
	<div class="flex flex-col justify-center items-center max-w-lg"></div>
{%  endblock %}
