{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="bg-gray-200 flex content-center justify-center h-full items center">
		<h1>Logo</h1>
	</div>
{% endblock %}
