<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body class="bg-gray-200 flex content-center justify-center items-center h-full">
		<div class="flex flex-col justify-center items-center">
			<img src="/images/logo.svg" class="w-24 md:w-auto mb-2" alt="logo"/>
			<h1 class="text-xl uppercase font-medium mb-6">Votre identifiant pour nous rejoindre</h1>
			<div>
				<form>
					<input placeholder="input"/>
				</form>
			</div>
		</div>
	</body>
</html>
