<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body class="bg-gray-200 flex content-center justify-center items-center h-full">
		<h1>Logo</h1>
	</body>
</html>
