{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Register
{% endblock %}
{% block body %}{% endblock %}
<div class="flex flex-col justify-center items-center max-w-lg">
	<img src="/images/logo.svg" class="w-24 md:h-auto mb-8" alt="logo"/>
</div>
