<nav class="bg-gray-200 flex justify-between items-center px-4 py-4">
    <div class="logo">
        <img src="/images/logo.svg" class="w-20 md:h-auto " alt="logo" />
    </div>
    <div class="navigation">
        <ul class="flex justify-center items-center px-2">
            <li class="px-2 text-base">Home</li>
            <li class="px-2 text-base">About</li>
            <li class="px-2 text-base">Contact</li>
        </ul>
    </div>
    <div class="icon">icon</div>
</nav>