<nav class="bg-gray-200 flex justify-between items-center mx-8 my-4">
    <div class="logo">
        <img src="/images/logo.svg" class="w-20 md:h-auto " alt="logo" />
    </div>
    <div class="navigation">
        <ul class="flex justify-center items-center px-2">
            <li class="px-2 text-lg font-medium">News</li>
            <li class="px-2 text-lg font-medium">Home</li>
            <li class="px-2 text-lg">Promotion</li>
            <li class="px-2 text-lg">Contact</li>
        </ul>
    </div>
    <div class="flex items-center justify-around">
        <div id="fav-icon mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </div>
        <div id="fav-shop mx-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
        </div>
        <div id="fav-search px-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>


    </div>
</nav>