<nav class="top-nav flex justify-end items-center">
    <div class="aide flex mx-3 my-4">
        <a class="mx-2">help</a>
        <a class="mx-2">register</a>
        <a class="mx-2">login</a>
    </div>
</nav>