<nav class="bg-gray-100 top-nav bg-white flex justify-end items-center">
	<div class="aide flex mx-3 my-3 pr-4">
		<a href="#" class=" px-2 border-r-2 border-gray-600 text-sm capitalize">help</a>
		<a href="{{ path('register') }}" class="px-2 border-r-2 border-gray-600 text-sm capitalize">register</a>
		<a href="{{ path('app_login') }}" class="mx-2 text-sm capitalize">login</a>
	</div>
</nav>
