<nav class="top-nav flex justify-end items-center">
    <div class="aide flex mx-3 my-4">
        <a href="#" class=" px-2 border-r-2 border-gray-600">help</a>
        <a href="#" class="px-2 border-r-2 border-gray-600">register</a>
        <a href="#" class="mx-2">login</a>
    </div>
</nav>